.navbar-brand {
  position: relative;
}

#logo {
  width: 50px;
}

#moviestar-title {
  color: white;
  position: absolute;
  bottom: 8px;
  font-size: 30px;
  left: 60px;
  font-weight: bold;
}

#main-navbar {
  background-color: #121212;
}

#search-form {
  display: flex;
  margin: 0 auto;
  background-color: white;
  border-radius: 5px;
  width: 50%;
  margin-left: 280px;
}

#search-form .form-control {
  border: none;
  width: 90%;
  box-shadow: none;
}

#navbar {
  min-width: 30%;
}

.navbar-nav {
  justify-content: flex-end;
  width: 100%;
}

.navbar-nav .nav-item .nav-link {
  color: white;
  transition: 0.5s;

  margin-right: 20px;
}

.navbar-nav .nav-item .nav-link:hover {
  color: #999;
}

.bold {
  font-weight: bold;
}

.msg-container {
  background-color: #000;
  padding: 15px;
}

.msg {
  width: 60%;
  margin: 0 auto;
  padding: 10px;
  border: solid 1px #000;
  text-align: center;
}

.msg.error {
  color: #842029;
  background-color: #f8d7da;
  border-color: #f5c2c7;
}

.msg.success {
  color: #0f5132;
  background-color: #d1e7dd;
  border-color: #badbcc;
}
/* Home */

#include {
  margin-right: 10px;
}
#main-container {
  background-color: black;
  color: white;
  min-height: 65vh;
  padding: 40px;
}

.section-title {
  font-size: 24px;
  border-left: 4px solid red;
  padding-left: 12px;
  margin-top: 20px;
}

.section-description {
  color: #ccc;
  font-size: 18px;
}

.movies-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.movie-card {
  background-color: #1a1a1a;
  width: 18%;
  margin-bottom: 30px;
  margin-left: 1%;
  margin-right: 1%;
}

.movie-card .card-img-top {
  height: 300px;
  width: 100%;
  background-size: cover;
}

.card-title {
  height: 3rem;
}

.card-title a {
  font-size: 16px;
  color: white;
  text-decoration: none;
}

.fas-fa-star {
  color: red;
}

.rating {
  color: #ccc;
}

.rate-btn {
  margin-bottom: 15px;
  color: white;
  background-color: #333;
  border-color: #333;
  width: 100%;
  font-weight: bold;
}

.rate-btn:hover {
  background-color: #444;
  border-color: #444;
}

.empty-list {
  text-align: center;
  font-size: 18px;
  width: 100%;
  font-weight: bold;
}
/* login and register */

#auth-row {
  justify-content: space-evenly;
}

#login-container h2,
#register-container h2 {
  text-align: center;
  font-weight: bold;
  border-bottom: 2px solid red;
  width: 200px;
  margin: 0 auto;
  padding: 10px;
}

#login-container form,
#register-container form {
  max-width: 400px;
  margin: 30px auto;
  font-weight: bold;
}

.card-btn {
  margin: 20px auto;
  color: #000;
  background-color: red;
  border: 2px solid red;
  width: 100%;
  font-weight: bold;
}

.card-btn:hover {
  transition: 0.7s;
  background-color: transparent;
  color: red;
  border: red;
  font-weight: bold;
}

/* Edit Profile */
#profile-image-container,
.profile-image-container {
  width: 150px;
  height: 150px;
  border: 6px solid rgb(0, 255, 42);
  border-radius: 100%;
  background-size: cover;
  margin: 15px auto;
}

.profile-image-container {
  width: 70px;
  height: 70px;
}

.page-description {
  color: #999;
}

#bio {
  max-width: 400px;
}

.form-control.disabled {
  background-color: #bbb;
}

#change-password-container {
  margin-top: 30px;
}

.edit-profile-page .card-btn,
#add-movie-container .card-btn,
#review-form .card-btn,
#edit-movie-form .card-btn {
  width: auto;
}

/* Profile */
.profile-container {
  justify-content: center;
}

.profile-container .profile-image {
  margin: 20px auto;
}

.about-title {
  color: #ccc;
}

.profile-description {
  max-width: 500px;
  margin: 20px auto;
}

.added-movies-container,
.about-container {
  padding-top: 20px;
}

.about-container {
  text-align: center;
  background-color: #333;
  border-bottom: 3px solid #ccc;
}

.added-movies-container {
  background-color: #333;
}

.added-movies-container .movies-container {
  padding: 20px;
}

.added-movies-container .movie-card {
  width: 31%;
}

/* New movie */

.new-movie-container {
  margin-left: 480px;
  text-align: center;
}

#add-movie-form {
  text-align: left;
}

.movie-image-container {
  height: 400px;
  min-width: 200px;
  background-size: cover;
}

.page-title:after {
  content: "";
  width: 300px;
  border-bottom: 2px solid red;
  display: block;
  margin: 0 auto;
  padding-top: 7px;
}

/* movie */
.movie-container {
  text-align: center;
}

.movie-details {
  margin: 25px 0;
}

.pipe {
  border: 1px solid #333;
  margin: 0 10px;
}

#reviews-title {
  margin-bottom: 25px;
}

#review-form-container {
  background-color: #333;
  padding: 20px;
}

#review-form-container select,
#review-form-container textarea {
  width: 50%;
}

#reviews-container {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 4px solid red;
}

.review {
  padding: 20px 0;
  border-bottom: 1px solid #333;
}

.author-details-container {
  padding-top: 20px;
}

.author-name a {
  color: red;
}

.comment-title {
  color: #999;
}

/* dashboard */
#add-movie-container {
  text-align: right;
}

#movies-dashboard .table {
  color: #fff;
}

#movies-dashboard .table th {
  border-top: none;
}

#movies-dashboard .table tr {
  padding: 15px 0;
}

.table-movie-title {
  color: white;
  font-weight: bold;
  transition: 0.5s;
  text-decoration: none;
}

.table-movie-title:hover {
  color: red;
  text-decoration: none;
}

.actions-column {
  max-width: 75px;
  text-align: center;
}

.actions-column form {
  display: inline-block;
}

.edit-btn,
.delete-btn {
  padding: 5px 10px;
  border-radius: 5px;
  margin: 0 5px;
  font-weight: bold;
  transition: 0.5s;
  border: none;
}

.edit-btn {
  background-color: green;
  color: white;
}

.edit-btn:hover {
  background-color: transparent;
  color: green;
  text-decoration: none;
}

.delete-btn {
  background-color: red;
  color: white;
}

.delete-btn:hover {
  background-color: transparent;
  color: red;
  text-decoration: none;
}
/* search */
#search-title{
  font-size: 40px;
}

#search-result,
.back-link{
  color: red;
}
/* footer */

#footer {
  background-color: #000;
  color: white;
  text-align: center;
  margin: 0;
  padding: 20px;
}

#social-container ul,
#footer-links-container ul {
  list-style-type: none;
  padding: 0;
}

#social-container li,
#footer-links-container li {
  display: inline-block;
  margin: 0 20px;
}

#social-container li {
  height: 40px;
  width: 40px;
  border-radius: 100%;
  transition: 0.5s;
  line-height: 3;
}

#social-container li:hover {
  background-color: #333;
}

#social-container a,
#footer-links-container a {
  color: white;
  transition: 0.5s;
}

#social-container li i {
  font-size: 25px;
}

#footer-links-container {
  margin: 30px 0;
}

#apple {
  font-size: 25px;
}

/* mobile */
@media(max-width: 450px) {

  #main-container {
    padding: 20px;
  }

  /* Home */
  #search-form {
    width: 100%;
    margin-left: 0;
  }

  #search-form .form-control {
    width: 85%;
  }

  .section-title {
    font-size: 2.2rem;
    margin-bottom: 1rem;
  }

  .movies-container {
    padding: 0 15px;
  }

  .movie-card {
    width: 100%;
  }

  .movie-details {
    display: flex;
    flex-direction: column;
  }

  .movie-details span {
    padding-bottom: 8px;
  }

  .pipe {
    display: none;
  }

  .movie-container iframe {
    max-width: 100% !important;
  }

  #reviews-container {
    padding-left: 0;
    padding-right: 0;
  }

  #review-form-container select,
  #review-form-container textarea {
    width: 100%;
  }

  .empty-list {
    margin-top: 20px;
  }

  .msg {
    width: 100%;
  }

  /* Movie */
  .review {
    padding: 0 15px;
  }

  /* Dashboard */
  #movies-dashboard {
    padding: 0;
  }

  .actions-column {
    width: 140px;
  }

  .edit-btn {
    display: block;
    margin-bottom: 10px;
  }

  /* Edit movie */
  .movie-image-container {
    margin-top: 1rem;
  }

  .fas.fa-bars {
    color: #F5C518;
  }
}
